@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    font-family: 'Poppins', sans-serif;
    background-color: #1d3354;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 250px;
    height: 700px;
    border: 2px solid 	#aaaaaa;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.item {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #aaaaaa;

    padding: 5px 30px;

    transition: 0.2s;
}

.details {
    color: #aaaaaa;
}

.icon {
    color: #aaaaaa;
    transition: all 0.3s;
}

.icon:hover {
    cursor: pointer;
}

.item.dragging {
    box-shadow: 1px 1px 4px #eae89f inset, -1px -1px 4px #eae89f inset;
}

.item.dragged-over {
    box-shadow: 1px 1px 4px #aaea9f inset, -1px -1px 4px #aaea9f inset;
}